body {
    overflow-x: hidden !important;
    -ms-overflow-x: hidden !important;
}

.header {
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
    display: flex;
    justify-content: space-between;
}

.appLogo {
    background-color: #ff7f7f;
    height: 35px;
    -webkit-animation: spin 8s linear infinite;
    -moz-animation: spin 8s linear infinite;
    animation: spin 8s linear infinite;
}

.custom-button {
    margin: 0 5px !important;
}

.form-field {
    width: 240px !important;
}

.upcoming-movies-style {
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}

@keyframes spin {
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotateY(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotateY(360deg);
    }
}
